<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Club </title>
</head>
<body>
   <h2>REST API webszolgáltatásai</h2>
   <h3>Github <a href="https://github.com/DankoIstvan113c/clubWebService">Link</a></h3>

  <table>
    <tr>
      <th>Metódus</th>
      <th>URL</th>
      <th>Szolgáltatás</th>
    </tr>
    <tr>
      <td>GET</td>
      <td><a href="/categories">/categories</a></td>
      <td>Kategóriák listája</td>
    </tr>
      <tr>
      <tr>
          <td>GET</td>
          <td><a href="/categories/1/clubs">/categories/{id}/clubs</a></td>
          <td>Egy kategória szórakozó helyei</td>
      </tr>
  </table>
</body>
</html>